@font-face {
    font-family: "MiSans";
    src: url("fonts/MiSans-Medium.otf") format("opentype"),
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MiSans;
    color: black;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-image: url("images/main.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: background 0.5s ease-in-out;
    backdrop-filter: blur(10px);

}


.mainLanding {
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3em 10%;
    background: white;
    opacity: 70%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}



/*Navbar styles*/

.navbar {
    display: flex;
    justify-content: space-between;
    min-width: 40vw;
}

.navbar a {
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 500;
    opacity: 100%;
}

.logo {
    font-size: 1.2em;
    text-decoration: none;
}


/*Social links*/

.socials {
    display: flex;
    justify-content: space-between;
    min-width: 5vw;
}

.socials i {
    height: 10%;
    padding-right: 10px;
}


/*Intro bubble*/

.bubble1 {
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    height: 60vh;
}

.bubble1_intro {
    background-color: rgb(219, 219, 219, 0.7);
    padding: 3em 4em;
    border-radius: 2.5em;
    z-index: 1;
    margin-right: -40px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.bubble1_desc {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3em;
    border-radius: 2em;
    z-index: 2;
    margin-top: 10%;
    box-shadow: 0 30px 24px rgba(0, 0, 0, 0.3);
    width: 295px;
}

.bubble1_desc h2 {
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.name_en {
    animation: typingEN 2s;
}

.name_cn {
    animation: typingCN 3s;
}

.name_jp {
    animation: typingJP 4s, blink-caret 1s step-end infinite;
    border-right: .15em solid yellow;
}

.bubble2 {
    display: flex;
    justify-content: center;
    /* Horizontally center */
    align-items: center;
    /* Vertically center */
    height: 10vh;
}

.bubble2_intro {
    background-color: rgb(255, 208, 0, 0.7);
    padding: 3em 4em;
    border-radius: 2.5em;
    z-index: 1;
    margin-right: -40px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.bubble2_desc {
    background-color: rgb(255, 255, 255, 0.7);
    padding: 3em;
    border-radius: 2em;
    z-index: 2;
    margin-top: 10%;
    box-shadow: 0 30px 24px rgba(0, 0, 0, 0.3);
    width: 350px;
}

.bubble2_desc a {
    color: gray;
    text-decoration: none;
    transition: 0.7s;
}

.bubble2_desc h2 :hover {
    color: black;
    font-size: 1.1em;
    transition: 0.7s;
}

.landing2 {
    min-height: 100vh;
    z-index: 1;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    gap: 15px;
    min-height: 80vh;
    max-width: 75vw;
    justify-self: center;
    margin-top: 5vh;
}

.card {
    background: rgba(61, 61, 61, 0.75);
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    border-width: 0.01px;
    border-color: rgb(75, 75, 75);
    backdrop-filter: blur(40px);
    transition: 0.5s;
}

.card.orange {
    color: rgb(255, 238, 0);
    background: rgba(35, 47, 65, 0.9);
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

.skill-title {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #e0e0e0;
}

.progress-bar {
    height: 8px;
    background: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background: #7f8fa6;
}

.landing2Title {
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
    justify-self: center;
    text-align: center;
}

.textTitle {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 2rem;
    position: relative;
}

.textTitle::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: linear-gradient(90deg, #facd7b, #e6ffee);
    margin: 0.5rem auto 0;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    max-width: 50vw;
    gap: 2rem;
    justify-self: center;
}

.project-card {
    background: rgba(88, 88, 88, 0.3);
    border-radius: 1rem;
    overflow: hidden;
    width: 20vw;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    justify-self: center;
    margin: 6%;
    animation: fade-in linear;
    animation-timeline: view();
}

.project-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
    color: white;
}

.card-content h3 {
    margin: 0;
    font-size: 1.2rem;
    color: #e0e0e0;
}

.card-content p {
    font-size: 0.9rem;
    color: #ccc;
    margin-top: 0.5rem;
}

.photography {
    height: 100vh;
    margin-top: 30vh;
}

.photography_card {
    justify-self: center;
    width: 60vw;
    height: 70vh;
    background-color: rgba(235, 235, 235, 0.75);
    padding: 3em;
    border-radius: 3em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 25%;
    gap: 4vh;
}

.languages {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    min-width: 8vw;
    align-self: center;
}

.photography_card>.deviceDesc {
    font-size: 100%;
    grid-area: 2 / 1 / 3 / 2;
}

.photography_card>.limitedDevices {
    font-size: 200%;
    grid-area: 1 / 1 / 2 / 2;
}

.phoneDiv {
    grid-area: 1 / 3 / 3 / 4;

}

.phoneDiv > img {
    width: 110%;
    border-radius: 15px;
    align-self: center;
    
}

.droneDiv {
    grid-area: 1 / 2 / 2 / 3;
   
}

.droneDiv > img {
    width: 110%;
    align-self: center;
    border-radius: 15px;
    margin-bottom: 5%;
}

.cameraDiv {
    grid-area: 2 / 2 / 3 / 3;
    
}

.cameraDiv > img {
    width: 110%;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 10%;
}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    grid-template-rows:  auto auto auto auto;
    gap: 15px;
    min-height: 80vh;
    max-width: 75vw;
    justify-self: center;
    margin-top: 5vh;
}

.descdiv{
    text-align: center;
    font-size: 1rem;
    color: white;
    margin-top: 0.5rem;
    border-radius: 15px;
    background-color: #e6ffee;
}
.imagediv > img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
@keyframes fade-in {
    from,
    to {
        scale: 0.93;
        opacity: 50%;
    }
    50% {
        scale: 1.0;
        opacity: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: rgb(255, 208, 0);
    }
}

@keyframes typingEN {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

@keyframes typingCN {
    from {
        width: 0
    }
    50% {
        width: 0;
    }
    to {
        width: 100%
    }
}

@keyframes typingJP {
    from {
        width: 0
    }
    66% {
        width: 0;
    }
    to {
        width: 100%
    }
}


/* Mobile styles */

@media (max-width: 520px) {
    .navbar {
        display: none;
    }
    .header {
        height: 10vh;
    }
    .logo {
        align-self: center;
    }
    .socials {
        display: flex;
        justify-content: space-between;
        min-width: 5vw;
        align-self: center;
    }
    .socials i {
        padding-right: 2.2vw;
        font-size: 1.4rem;
        align-self: center;
    }
    .bubble1 {
        display: flex;
        justify-content: center;
        /* Horizontally center */
        align-items: center;
        /* Vertically center */
        height: 60vh;
    }
    .bubble1_intro {
        background-color: rgb(219, 219, 219, 0.7);
        padding: 3em 4em;
        padding-left: 2em;
        border-radius: 2.5em;
        z-index: 2;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
        height: 30vh;
        min-width: 20vw;
    }
    .bubble1_intro h1 {
        font-size: 7vw;
    }
    .bubble1_desc {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2em 3em;
        border-radius: 2em;
        z-index: 1;
        box-shadow: 0 30px 24px rgba(0, 0, 0, 0.3);
        height: 30vh;
        min-width: 69vw;
        margin-top: 0;
        align-content: center;
    }
    .bubble1_desc h2 {
        font-size: 5vw;
    }
    .bubble2 {
        display: flex;
        justify-content: center;
        /* Horizontally center */
        align-items: center;
        /* Vertically center */
        height: 30vh;
    }
    .bubble2_intro {
        background-color: rgb(255, 208, 0, 0.7);
        padding: 3em 4em;
        border-radius: 2.5em;
        z-index: 1;
        margin-right: -40px;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
        height: 35vh;
        justify-content: center;
    }
    .bubble2_intro h1 {
        font-size: 8vw;
    }
    .bubble2_desc {
        background-color: rgb(255, 255, 255, 0.7);
        padding: 3em;
        border-radius: 2em;
        z-index: 2;
        margin-top: 0;
        box-shadow: 0 30px 24px rgba(0, 0, 0, 0.3);
        min-width: 60vw;
        height: 35vh;
    }
    .bubble2_desc h2 {
        font-size: 5vw;
        text-decoration: none;
    }
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 35vw);
        gap: 15px;
        min-height: 80vh;
        max-width: 95vw;
        justify-self: center;
    }
    .card.orange {
        color: rgb(255, 238, 0);
        background: rgba(10, 13, 19, 0.9);
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    .project-grid {
        display: inline;
        justify-self: center;
    }
    .project-card {
        background: rgba(88, 88, 88, 0.3);
        border-radius: 1rem;
        overflow: hidden;
        width: 75vw;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
        justify-self: center;
        margin-bottom: 6%;
    }
}