:root {
  --main-color: grey;
  --second-color: black;
  --third-color: white;
}

@font-face {
  font-family: "MiSans";
  src: url("fonts/MiSansLatin-Regular.otf") format("opentype"),
    url("fonts/MiSansLatin-Regular.ttf") format("truetype"),
    url("fonts/MiSansLatin-Regular.woff") format("woff"),
    url("fonts/MiSansLatin-Regular.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MiSans;
}

/* nav bar css */
nav {
  display: flex;
}

h1 {
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  font-size: 5rem;
  background-image: linear-gradient(90deg, rgb(254, 99, 244), rgb(77, 221, 249));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: var(--third-color);
  font-size: 1.5rem;
}

nav ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: var(--third-color);
  transition: width 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: var(--second-color);
  padding: 0;
  z-index: 2;
  transition: 0.5s;
}

.top-nav.scroll {
  position: fixed;
  top: -7rem;
  left: 0;
  width: 100%;
  height: 7rem;
  background-color: var(--main-color);
  z-index: 2;
  transition: 0.5s;
}

/* section css */
section {
  padding: 20px;
}

.homebg {
  background-image: url("images/budjettech.png");
  background-size: cover;
  color: var(--third-color);
  background-repeat: no-repeat;
  height: 115vh;
  background-position: center;
}

.homebody{
  background-color: black;
  height: 80vh;
  background-image: url("images/driving.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: 150%;
}

.homebody2{
  background-color: black;
  height: 80vh;
  background-image: url("images/lego.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position: -40%;
}

.homebody2 h1{
  background-image: linear-gradient(90deg, rgb(255, 206, 120), rgb(77, 221, 249));
}

.homebody3 {
  background-color: black;
  height: 90vh;
  background-image: url("images/gamepiece.png");
  background-repeat: no-repeat;
  background-size:90%;
  background-position: 140% top;
}

.homebody3 h1{
  background-image: linear-gradient(90deg, #EEBD89, #D13ABD);
}

.homebody4 {
  background-color: black;
  height: 90vh;
  background-image: url("images/IMG_0878.JPG");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 140% top;
}

.homebody4 .TextPosFix {
  margin-left: 30vh;
  text-align: center;
}

.homebody4 .sponsorbutton{
  background-color: transparent;
}

.robotbg {
  background-image: url("images/mechcatbotfake.png");
  background-size: cover;
  color: var(--third-color);

  height: 100vh;
}

.teambg {
    background-image: url("images/budjettech.png");
    background-size: cover;
    color: var(--third-color);
  
    height: 100vh;
}

.sponsorbg {
    background-image: url("images/wallet.jpg");
    background-size: cover;
    color: var(--third-color);
  
    height: 100vh;
}
  
.TextPosFix {
  position: relative;
  top: 13rem;
  width:50%;
  left:9%;
}

/* footer */
#footer-padding {
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all .3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all .5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

.sponsordescription {
  display:inline-block;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.sponsorbuttonindex{
  background-color: transparent;
  
  border-style: solid;
  border-color: linear-gradient(90deg, rgb(255, 206, 120), rgb(77, 221, 249));
  color: white;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  max-width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 500;
  border-radius: 50em;
  padding-top:10px;
  padding-bottom:10px;
  padding-right: 20px;
  padding-left: 20px;
}
.sponsorbutton{
 
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  border-color: #24262b;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.sponsorbutton:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.sponsorbutton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.sponsorbutton:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.sponsorbutton:link { 
    text-decoration: none; 
  } 
  .sponsorbutton:visited { 
    text-decoration: none; 
  } 
  .sponsorbutton :hover { 
    text-decoration: none; 
  } 
  .sponsorbutton:active { 
    text-decoration: none; 
  }
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.7);
}

.wrapper .card{
    max-width: 300px;
    padding: 40px;
    margin: 30px 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),
    3px 3px 10px -1px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0.6);

}

/* For Active Card */
.wrapper .card.active{
    background-color: #5f30e2;
    transform: scale(1, 1.09);
}

.wrapper .card h3{
    margin-bottom: 15px;
}

/* For Active Card */
.wrapper .card.active{
   color: rgba(255,255,255,1);;
}

.wrapper .card h2{
    margin-bottom: 10px;
    color: rgba(0,0,0,1);
}
/* For Active Card */
.wrapper .card.active h2{
    color: rgba(255,255,255,1);;
 }
 

.wrapper .card h2 span{
    font-size: 12px;
    color: rgba(0,0,0,0.7);
}

/* For Active Card */
.wrapper .card.active h2 span{
    color: rgba(255,255,255,0.9);;
 }
 

.wrapper .card p{
    margin: 20px 0;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    line-height: 1.5;
}

/* For Active Card */
.wrapper .card.active p{
    color: rgba(255,255,255,1);;
 }
 

.wrapper .card ul{
    list-style: none;
}

.wrapper .card ul li{
    line-height: 3;
    color: rgba(0,0,0,0.9);
}

/* For Active Card */
.wrapper .card.active ul li{
    color: rgba(255,255,255,0.9);;
 }
 

.wrapper .card ul li i{
    color: rgba(0,0,0,0.4);
    margin-right: 10px;
}

/* For Active Card */
.wrapper .card.active ul li i{
    color: rgba(255,255,255,0.4);;
 }
 

.wrapper .card a{
    margin: 20px 0;
    display: block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #5f30e2;
    color: #5f30e2;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.4s;
}

/* For Active Card */
.wrapper .card.active a{
   background-color: white;
   color: rgba(0,0,0,0.8);
 }
 
.wrapper .card a:hover{
    background-color: #5f30e2;
    color: white;
}

/* For Active Card */
.wrapper .card.active a:hover{
   border: 1px solid white;
  }


.pricetable {
  background-image: url("images/1323443.jpg");
  background-size: cover;
  height: auto;
  background-position: center;
  background-color: #ebeef1;
  justify-content: center;
  align-items: center;
  display:inline-block;    align-items: center;
    width: 100%;
    background-repeat: no-repeat;

  }

  .pricetable h1{
    padding-top: 5%;
    text-align: center;
    background-image:linear-gradient(90deg,rgb(191, 250, 255), rgb(12, 81, 255));
  }

  .bigcard{
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),
    3px 3px 10px -1px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0.4);
  }

.instructioncard {
  width: 100vh;
  padding: 40px;
    margin: 30px 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),
    3px 3px 10px -1px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0.6);
}

.sponsorlistsection {
  min-height: 70vh;
  position: relative;
  overflow: hidden;
  background-image: url(images/earth.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sponsorlistsection h1 {
  margin: 0;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: 2.5em;
}

.front-layer, .back-layer {
  position:absolute;
  top: 0;
  left:0;
  width: 100%;
  height:100%;
  pointer-events: none;
}

.front-layer{
  z-index: 1;
}

.back-layer{
  z-index: 0;
}
.front-layer img {
  position:absolute;
  max-height: 100px;
}

.back-layer img {
  position:absolute;
  max-height: 100px;
}
.front-layer img:nth-child(1) {
  top:15%;
  left: 20%;
  
}

.front-layer img:nth-child(2) {
  top:50%;
  left:10%;
}

.front-layer img:nth-child(3) {
  bottom: 5%;
  right:30%;
}

.back-layer img:nth-child(1) {
  top: 20%;
  right: 10%;
}

.back-layer img:nth-child(2) {
  top: 20%;
  right: 30%;
  height: 70px;
  
}

.back-layer img:nth-child(3) {
  bottom:10%;
  left: 30%;
 
}
/* not stolen from bear bella trust */
